<div class="container">
  <form>
    <div>
      <label>Nome</label>
      <input type="text" [(ngModel)]="nome" name="nome">
    </div>

    <div>
      <label>Descrição</label>
      <input type="text" [(ngModel)]="descricao" name="descricao">
    </div>

    <button  (click)='cadastraList()'>CRIAR LISTA</button>
  </form>

  <table>
    <thead>
      <th > ID </th>
      <th> LISTA </th>
      <th> DESCRIÇÃO </th>
      <th>  </th>
    </thead>

    <tbody>
      <tr *ngFor="let list of lists" >
        <td> {{list.id}} </td>
        <td>  {{list.nome}}  </td>
        <td>  {{list.descricao}}  </td>


        <td>
          <span (click)='remover(list.nome)' > Remover </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
