<div class="container">
  <form>
    <div>
      <label>Id</label>
      <input type="text"  name="id">
    </div>

    <div>
      <label>Author</label>
      <input type="text" name="autor">
    </div>

    <div>
      <label>Musica</label>
      <input type="text" name="musica">
    </div>

    <button ></button>
  </form>

  <table>
    <thead>
      <th> Id </th>
      <th> list </th>
      <th> description </th>
      <th>  </th>
    </thead>

    <tbody>
      <tr *ngFor="let list of lists$ |async" >
        <td> {{list.id}} </td>
        <td>  {{list.nome}}  </td>
        <td>  {{list.descricao}}  </td>
       <td>
          <ul>
            <li *ngFor="let music of list.musicas">
              {{ music.titulo }} - {{ music.artista }} - {{ music.album }} - {{ music.ano }} - {{ music.genero }}
            </li>
          </ul>
        </td>

        <td>
          <span  > alterar </span>
          <span > remover </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
