<div class="container">
  <form>
    <div>
      <label>Id</label>
      <input type="text"  name="id">
    </div>

    <div>
      <label>Author</label>
      <input type="text" name="autor">
    </div>

    <div>
      <label>Musica</label>
      <input type="text" name="musica">
    </div>

    <button ></button>
  </form>

  <table>
    <thead>
      <th> Id </th>
      <th> Author </th>
      <th> Musica </th>
      <th> ... </th>
    </thead>

    <tbody>
      <tr >
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>
          <span  > alterar </span>
          <span > remover </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
