<div class="container">
  <form>
    <div>
      <label>Id</label>
      <input type="text"  [(ngModel)]="id" name="id"  >
    </div>

    <div>
      <label>Author</label>
      <input type="text"  [(ngModel)]="nome" name="nome" >
    </div>

    <div>
      <label>Musica</label>
      <input type="text"  [(ngModel)]="descricao" name="descricao" >
    </div>

    <button (click)='cadastraList()'>Criar Lista</button>
  </form>

  <table>
    <thead>
      <th> Id </th>
      <th> list </th>
      <th> description </th>
      <th>  </th>
    </thead>

    <tbody>
      <tr *ngFor="let list of lists$ |async" >
        <td> {{list.id}} </td>
        <td>  {{list.nome}}  </td>
        <td>  {{list.descricao}}  </td>
        <td>
          <span> Acessar </span>
          <span (click)="remover(list.nome)">  remover </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
